In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from numpy.random import seed

random_state = 19
seed(random_state)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [85]:
engine = create_engine('postgres+psycopg2://root:password@db-inst-on-aws.cfx0x80oubi1.us-east-1.rds.amazonaws.com:5432/db_on_aws')

In [24]:
sql = 'SELECT severity, start_time, temperature_f, wind_chill_f, humidity_percentage_, pressure_in, visibility_mi, wind_speed_mph, precipitation_in, amenity, bump, crossing, give_way, junction, no_exit, railway, roundabout, station, stop, traffic_calming, traffic_signal, turning_loop, sunrise_sunset, civil_twilight FROM crashes'
engine = create_engine('postgres+psycopg2://root:password@db-inst-on-aws.cfx0x80oubi1.us-east-1.rds.amazonaws.com:5432/db_on_aws')
crashes = pd.read_sql(sql, con=engine)
crashes.head()

   severity           start_time  ...  sunrise_sunset  civil_twilight
0         2  2019-04-25 15:18:53  ...             Day             Day
1         2  2019-04-25 15:35:25  ...             Day             Day
2         2  2019-04-25 15:44:24  ...             Day             Day
3         2  2019-04-25 15:58:21  ...             Day             Day
4         2  2019-04-25 15:57:37  ...             Day             Day

[5 rows x 24 columns]

In [25]:
crashes.count()

severity                3513617
start_time              3513617
temperature_f           3447885
wind_chill_f            1645368
humidity_percentage_    3443930
pressure_in             3457735
visibility_mi           3437761
wind_speed_mph          3059008
precipitation_in        1487743
amenity                 3513617
bump                    3513617
crossing                3513617
give_way                3513617
junction                3513617
no_exit                 3513617
railway                 3513617
roundabout              3513617
station                 3513617
stop                    3513617
traffic_calming         3513617
traffic_signal          3513617
turning_loop            3513617
sunrise_sunset          3513502
civil_twilight          3513502
dtype: int64

In [26]:
crashes_clean = crashes.dropna()
crashes_clean.head()

   severity           start_time  ...  sunrise_sunset  civil_twilight
0         2  2019-04-25 15:18:53  ...             Day             Day
1         2  2019-04-25 15:35:25  ...             Day             Day
2         2  2019-04-25 15:44:24  ...             Day             Day
3         2  2019-04-25 15:58:21  ...             Day             Day
4         2  2019-04-25 15:57:37  ...             Day             Day

[5 rows x 24 columns]

In [27]:
crashes_clean.count()

severity                1281890
start_time              1281890
temperature_f           1281890
wind_chill_f            1281890
humidity_percentage_    1281890
pressure_in             1281890
visibility_mi           1281890
wind_speed_mph          1281890
precipitation_in        1281890
amenity                 1281890
bump                    1281890
crossing                1281890
give_way                1281890
junction                1281890
no_exit                 1281890
railway                 1281890
roundabout              1281890
station                 1281890
stop                    1281890
traffic_calming         1281890
traffic_signal          1281890
turning_loop            1281890
sunrise_sunset          1281890
civil_twilight          1281890
dtype: int64

In [76]:
scores = []
importances = []
severities = ['Fender Bender', 'Moderate', 'Severe', 'Fatal']

In [77]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

for x in range(1, 101):
  sample = crashes_clean.sample(1000, replace=True, random_state=random_state)

  crashes_sample['start_time'] = pd.to_datetime(crashes_sample['start_time'], format='%Y-%m-%d %H:%M:%S')
  crashes_sample['start_month'] = crashes_sample['start_time'].dt.strftime('%m')
  crashes_sample['start_hour'] = crashes_sample['start_time'].dt.strftime('%H')

  X = crashes_sample.drop(['severity', 'start_time'], axis=1)
  X = pd.get_dummies(X, columns=['amenity','bump','crossing','give_way','junction','no_exit','railway','roundabout','station','stop','traffic_calming','traffic_signal','turning_loop','sunrise_sunset','civil_twilight'])
  y_all = pd.get_dummies(crashes_sample, columns=['severity'])
  
  for n in range(0, 4):
    y = y_all[f'severity_{n+1}']

    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=random_state)
    classifier = RandomForestClassifier()
    classifier.fit(X_train, y_train)

    scores.append({"trial":x, "severity":severities[n], "score":classifier.score(X_test, y_test)})

    importances_ = classifier.feature_importances_

    for f in range(0, len(X.columns)):
      importances.append({"trial":x, "severity":severities[n], "feature":X.columns[f], "importance":importances_[f]})

In [78]:
scores_df = pd.DataFrame(scores)
importances_df = pd.DataFrame(importances)

scores_df.head(20)

    trial       severity  score
0       1  Fender Bender  0.980
1       1       Moderate  0.668
2       1         Severe  0.720
3       1          Fatal  0.960
4       2  Fender Bender  0.980
5       2       Moderate  0.668
6       2         Severe  0.716
7       2          Fatal  0.960
8       3  Fender Bender  0.980
9       3       Moderate  0.664
10      3         Severe  0.724
11      3          Fatal  0.960
12      4  Fender Bender  0.980
13      4       Moderate  0.672
14      4         Severe  0.716
15      4          Fatal  0.960
16      5  Fender Bender  0.980
17      5       Moderate  0.644
18      5         Severe  0.712
19      5          Fatal  0.960

In [79]:
importances_df.head(100)

    trial       severity                feature  importance
0       1  Fender Bender          temperature_f    0.103501
1       1  Fender Bender           wind_chill_f    0.101777
2       1  Fender Bender   humidity_percentage_    0.170698
3       1  Fender Bender            pressure_in    0.138553
4       1  Fender Bender          visibility_mi    0.011803
..    ...            ...                    ...         ...
95      1         Severe             stop_False    0.001806
96      1         Severe              stop_True    0.001469
97      1         Severe  traffic_calming_False    0.000000
98      1         Severe   traffic_signal_False    0.013937
99      1         Severe    traffic_signal_True    0.011793

[100 rows x 4 columns]

In [82]:
scores_df.to_sql('score', con=engine, if_exists='replace', index_label='score_id')

In [83]:
importances_df.to_sql('importance', con=engine, if_exists='replace', index_label='importance_id')