In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np
import os
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(42)

In [2]:
engine = create_engine("postgres+psycopg2://root:password@db-inst-on-aws.cfx0x80oubi1.us-east-1.rds.amazonaws.com:5432")
engine

Engine(postgres+psycopg2://root:***@db-inst-on-aws.cfx0x80oubi1.us-east-1.rds.amazonaws.com:5432)

In [3]:
crashes = pd.read_csv("https://traffic-accident.s3.us-east-2.amazonaws.com/US_Accidents_June20.csv");
crashes.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
crashes_df = crashes [["Severity","Temperature(F)","Visibility(mi)","Sunrise_Sunset","Precipitation(in)"]]
crashes_df

,Severity,Temperature(F),Visibility(mi),Sunrise_Sunset,Precipitation(in)
0,3,36.9,10.0,Night,0.02
1,2,37.9,10.0,Night,0.00
2,2,36.0,10.0,Night,NaN
3,3,35.1,9.0,Night,NaN
4,2,36.0,6.0,Day,NaN
...,...,...,...,...,...
3513612,2,86.0,10.0,Day,0.00
3513613,2,70.0,10.0,Day,0.00
3513614,2,73.0,10.0,Day,0.00
3513615,2,71.0,10.0,Day,0.00
3513616,2,79.0,7.0,Day,0.00

In [5]:
crashes_df = pd.get_dummies(crashes_df)
crashes_df.head()

,Severity,Temperature(F),Visibility(mi),Precipitation(in),Sunrise_Sunset_Day,Sunrise_Sunset_Night
0,3,36.9,10.0,0.02,0,1
1,2,37.9,10.0,0.00,0,1
2,2,36.0,10.0,NaN,0,1
3,3,35.1,9.0,NaN,0,1
4,2,36.0,6.0,NaN,1,0

In [23]:
crashes_df.dropna(inplace = True)
crashes_df.count()

Severity                1472744
Temperature(F)          1472744
Visibility(mi)          1472744
Precipitation(in)       1472744
Sunrise_Sunset_Night    1472744
dtype: int64

In [9]:


crashes_sample = crashes_df.sample(100, replace=True, random_state=42)

In [10]:
crashes_df.head()

,Severity,Temperature(F),Visibility(mi),Precipitation(in),Sunrise_Sunset_Night
0,3,36.9,10.0,0.02,1
1,2,37.9,10.0,0.00,1
5,3,37.9,7.0,0.03,0
9,3,37.4,3.0,0.02,0
11,3,37.4,3.0,0.02,0

In [11]:
X = crashes_sample.drop("Severity", axis=1)
y = crashes_sample["Severity"]
print(X.shape, y.shape)

(100, 4) (100,)

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

C:\Users\rober\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\rober\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

In [15]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [17]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [18]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=4))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=4, activation='softmax'))

WARNING:tensorflow:From C:\Users\rober\anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [20]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               500
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 404
=================================================================
Total params: 11,004
Trainable params: 11,004
Non-trainable params: 0
_________________________________________________________________

In [22]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
75/75 - 0s - loss: 1.3452 - acc: 0.2667
Epoch 2/100
75/75 - 0s - loss: 1.2787 - acc: 0.6000
Epoch 3/100
75/75 - 0s - loss: 1.2152 - acc: 0.6133
Epoch 4/100
75/75 - 0s - loss: 1.1586 - acc: 0.6133
Epoch 5/100
75/75 - 0s - loss: 1.1059 - acc: 0.6133
Epoch 6/100
75/75 - 0s - loss: 1.0660 - acc: 0.6133
Epoch 7/100
75/75 - 0s - loss: 1.0222 - acc: 0.6133
Epoch 8/100
75/75 - 0s - loss: 0.9897 - acc: 0.6133
Epoch 9/100
75/75 - 0s - loss: 0.9665 - acc: 0.6133
Epoch 10/100
75/75 - 0s - loss: 0.9455 - acc: 0.6133
Epoch 11/100
75/75 - 0s - loss: 0.9353 - acc: 0.6133
Epoch 12/100
75/75 - 0s - loss: 0.9285 - acc: 0.6133
Epoch 13/100
75/75 - 0s - loss: 0.9247 - acc: 0.6133
Epoch 14/100
75/75 - 0s - loss: 0.9169 - acc: 0.6133
Epoch 15/100
75/75 - 0s - loss: 0.9120 - acc: 0.6267
Epoch 16/100
75/75 - 0s - loss: 0.9094 - acc: 0.6133
Epoch 17/100
75/75 - 0s - loss: 0.9027 - acc: 0.6133
Epoch 18/100
75/75 - 0s - loss: 0.9009 - acc: 0.6000
Epoch 19/100
75/75 - 0s - loss: 0.8989 - acc: 0.6000
Epoch 20/100
75/75 - 0s - loss: 0.8971 - acc: 0.6000
Epoch 21/100
75/75 - 0s - loss: 0.8952 - acc: 0.6000
Epoch 22/100
75/75 - 0s - loss: 0.8906 - acc: 0.6000
Epoch 23/100
75/75 - 0s - loss: 0.8916 - acc: 0.6133
Epoch 24/100
75/75 - 0s - loss: 0.8886 - acc: 0.6267
Epoch 25/100
75/75 - 0s - loss: 0.8840 - acc: 0.6133
Epoch 26/100
75/75 - 0s - loss: 0.8818 - acc: 0.6133
Epoch 27/100
75/75 - 0s - loss: 0.8802 - acc: 0.5867
Epoch 28/100
75/75 - 0s - loss: 0.8802 - acc: 0.6000
Epoch 29/100
75/75 - 0s - loss: 0.8779 - acc: 0.6133
Epoch 30/100
75/75 - 0s - loss: 0.8762 - acc: 0.6133
Epoch 31/100
75/75 - 0s - loss: 0.8751 - acc: 0.6133
Epoch 32/100
75/75 - 0s - loss: 0.8732 - acc: 0.6267
Epoch 33/100
75/75 - 0s - loss: 0.8700 - acc: 0.6267
Epoch 34/100
75/75 - 0s - loss: 0.8685 - acc: 0.6000
Epoch 35/100
75/75 - 0s - loss: 0.8656 - acc: 0.6000
Epoch 36/100
75/75 - 0s - loss: 0.8667 - acc: 0.5867
Epoch 37/100
75/75 - 0s - loss: 0.8631 - acc: 0.5867
Epoch 38/100
75/75 - 0s - loss: 0.8620 - acc: 0.6133
Epoch 39/100
75/75 - 0s - loss: 0.8601 - acc: 0.6267
Epoch 40/100
75/75 - 0s - loss: 0.8579 - acc: 0.6000
Epoch 41/100
75/75 - 0s - loss: 0.8569 - acc: 0.6133
Epoch 42/100
75/75 - 0s - loss: 0.8572 - acc: 0.6267
Epoch 43/100
75/75 - 0s - loss: 0.8564 - acc: 0.6267
Epoch 44/100
75/75 - 0s - loss: 0.8561 - acc: 0.6267
Epoch 45/100
75/75 - 0s - loss: 0.8534 - acc: 0.5867
Epoch 46/100
75/75 - 0s - loss: 0.8518 - acc: 0.6000
Epoch 47/100
75/75 - 0s - loss: 0.8503 - acc: 0.6000
Epoch 48/100
75/75 - 0s - loss: 0.8478 - acc: 0.6267
Epoch 49/100
75/75 - 0s - loss: 0.8485 - acc: 0.6267
Epoch 50/100
75/75 - 0s - loss: 0.8475 - acc: 0.6133
Epoch 51/100
75/75 - 0s - loss: 0.8440 - acc: 0.6133
Epoch 52/100
75/75 - 0s - loss: 0.8424 - acc: 0.6267
Epoch 53/100
75/75 - 0s - loss: 0.8416 - acc: 0.6133
Epoch 54/100
75/75 - 0s - loss: 0.8403 - acc: 0.6133
Epoch 55/100
75/75 - 0s - loss: 0.8409 - acc: 0.6133
Epoch 56/100
75/75 - 0s - loss: 0.8385 - acc: 0.6133
Epoch 57/100
75/75 - 0s - loss: 0.8355 - acc: 0.6133
Epoch 58/100
75/75 - 0s - loss: 0.8341 - acc: 0.6267
Epoch 59/100
75/75 - 0s - loss: 0.8328 - acc: 0.6267
Epoch 60/100
75/75 - 0s - loss: 0.8313 - acc: 0.6267
Epoch 61/100
75/75 - 0s - loss: 0.8301 - acc: 0.6267
Epoch 62/100
75/75 - 0s - loss: 0.8295 - acc: 0.6133
Epoch 63/100
75/75 - 0s - loss: 0.8290 - acc: 0.6000
Epoch 64/100
75/75 - 0s - loss: 0.8283 - acc: 0.6000
Epoch 65/100
75/75 - 0s - loss: 0.8268 - acc: 0.6000
Epoch 66/100
75/75 - 0s - loss: 0.8256 - acc: 0.6133
Epoch 67/100
75/75 - 0s - loss: 0.8256 - acc: 0.6267
Epoch 68/100
75/75 - 0s - loss: 0.8274 - acc: 0.6267
Epoch 69/100
75/75 - 0s - loss: 0.8245 - acc: 0.6400
Epoch 70/100
75/75 - 0s - loss: 0.8228 - acc: 0.6267
Epoch 71/100
75/75 - 0s - loss: 0.8190 - acc: 0.6000
Epoch 72/100
75/75 - 0s - loss: 0.8188 - acc: 0.6000
Epoch 73/100
75/75 - 0s - loss: 0.8190 - acc: 0.6133
Epoch 74/100
75/75 - 0s - loss: 0.8199 - acc: 0.6133
Epoch 75/100
75/75 - 0s - loss: 0.8202 - acc: 0.6133
Epoch 76/100
75/75 - 0s - loss: 0.8189 - acc: 0.6267
Epoch 77/100
75/75 - 0s - loss: 0.8154 - acc: 0.6133
Epoch 78/100
75/75 - 0s - loss: 0.8117 - acc: 0.6000
Epoch 79/100
75/75 - 0s - loss: 0.8102 - acc: 0.6133
Epoch 80/100
75/75 - 0s - loss: 0.8080 - acc: 0.6267
Epoch 81/100
75/75 - 0s - loss: 0.8075 - acc: 0.6133
Epoch 82/100
75/75 - 0s - loss: 0.8062 - acc: 0.6133
Epoch 83/100
75/75 - 0s - loss: 0.8042 - acc: 0.6133
Epoch 84/100
75/75 - 0s - loss: 0.8030 - acc: 0.6133
Epoch 85/100
75/75 - 0s - loss: 0.8025 - acc: 0.6267
Epoch 86/100
75/75 - 0s - loss: 0.7996 - acc: 0.6133
Epoch 87/100
75/75 - 0s - loss: 0.8046 - acc: 0.6267
Epoch 88/100
75/75 - 0s - loss: 0.8008 - acc: 0.6267
Epoch 89/100
75/75 - 0s - loss: 0.8003 - acc: 0.6133
Epoch 90/100
75/75 - 0s - loss: 0.7980 - acc: 0.6133
Epoch 91/100
75/75 - 0s - loss: 0.7946 - acc: 0.6133
Epoch 92/100
75/75 - 0s - loss: 0.7943 - acc: 0.6133
Epoch 93/100
75/75 - 0s - loss: 0.7921 - acc: 0.6133
Epoch 94/100
75/75 - 0s - loss: 0.7914 - acc: 0.6133
Epoch 95/100
75/75 - 0s - loss: 0.7902 - acc: 0.6133
Epoch 96/100
75/75 - 0s - loss: 0.7892 - acc: 0.6133
Epoch 97/100
75/75 - 0s - loss: 0.7885 - acc: 0.6267
Epoch 98/100
75/75 - 0s - loss: 0.7902 - acc: 0.6267
Epoch 99/100
75/75 - 0s - loss: 0.7886 - acc: 0.6267
Epoch 100/100
75/75 - 0s - loss: 0.7875 - acc: 0.6267